@using HotelManagementSystem
@using HotelManagementSystem.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


@using (Html.BeginForm("Login", "Authenticate", FormMethod.Post))
{
    <div>
        <ul style="list-style-type: none">
            <li>
                @Html.Label("ID")
                @Html.TextBox("txtUser")
            </li>
            <li>
                @Html.Label("Password")
                @Html.TextBox("txtPassword")
            </li>

        </ul>
    </div>

    <input type="submit" value="Login" />

}



