@using HotelManagementSystem_Module1.Domain.Models
@using System.Collections
@using System.Net
@using System.Web

@{
    ViewData["Title"] = "Reservation Analytic";



    //Cancellation Graph--------------------------------------------
    String[] XAxisMonthYearArr = ViewBag.XAxisMonthYearArr as String[];
    int[] cancellationGraphData = ViewBag.cancellationGraphData as int[];
    //---------------------------------------------------------------


    //Check-in Graph-------------------------------------------------
    String[] xAxisCheckInArr = ViewBag.xAxisCheckInArr as String[];
    int[] checkInGraphData = ViewBag.checkInGraphData as int[];
    //------------------------------------------------------------

}

<!--Graph Scripts from Highcharts-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>




<div class="container">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#cancel">Cancellation Trend</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#checkin">Check-In Trend</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#room">Populate Room Trend</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="cancel" class="container tab-pane active">
            <div id="canceltrend" style="min-width: 300px; height: 400px; margin: 0 auto">


            </div>
        </div>
        <div id="checkin" class="container tab-pane fade">
            <!--<h3>Check-In Trend</h3>-->
            <figure class="highcharts-figure">
                <div id="checkintrend"></div>

            </figure>
        </div>
        <div id="room" class="container tab-pane fade">
            <!--<h3>Check-In Trend</h3>-->
            <p>New Bar Chart</p>
        </div>
    </div>
</div>

<!--Graph for Cancellation-->
<script>
    var cancellationGraphXAxis = [];
    var cancellationGraphData = [];
    @for (int i = 0; i < 12; i++)
{
    <text>cancellationGraphXAxis.push("@XAxisMonthYearArr[i]");</text>
    <text>cancellationGraphData.push(@cancellationGraphData[i]);</text>
}


    //var xAxisArray = JSON.stringify(array);

    //var test = { categories: array };

    Highcharts.chart('canceltrend', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Total number of Cancellation per month'
        },

        xAxis: {
            categories: cancellationGraphXAxis
        },
        yAxis: {
            title: {
                text: 'Number of Cancellation'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: cancellationGraphXAxis[0] + " To " + cancellationGraphXAxis[11],
            data: cancellationGraphData
        }]
    });


</script>

<!--Graph for Check In trend-->
<script>
    var checkInGraphXAxis = [];
    var checkInGraphData = [];
    @for (int i = 0; i < 31; i++)
{
    <text>checkInGraphXAxis.push("@xAxisCheckInArr[i]");</text>
    <text>checkInGraphData.push(@checkInGraphData[i]);</text>
}
    Highcharts.chart('checkintrend', {

        title: {
            text: '30-Day Check-in Daily Volume'
        },

        yAxis: {
            title: {
                text: 'Number of Check-ins'
            }
        },

        xAxis: {
            categories: checkInGraphXAxis,
            labels: {
                step: 2,
                rotation:90
            }
        },

       

        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },

        series: [{
            name: checkInGraphXAxis[0] + " to " + checkInGraphXAxis[30],
            data: checkInGraphData
        }],

         responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>

