@using HotelManagementSystem_Module1.Domain.Models
@using System.Collections


@{
    ViewData["Title"] = "Cancellation Trend";
    ArrayList testList = ViewBag.testList;
    String[] XAxisMonthYearArr = ViewBag.XAxisMonthYearArr as String[];

    JavaScriptSerializer objSerializer = new JavaScriptSerializer();
    Response.Write(objSerializer.Serialize(s));

}
<h1>@ViewData["Title"]</h1>


<div>
    <p>@ViewBag.test</p>
    @foreach (String month in XAxisMonthYearArr)
    {
        <p>hello!!!</p>
        <p>@month</p>
    }
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">


</div>

        <script>
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Total number of Cancellation per month'
        },

        xAxis: {
            categories: @XAxisMonthYearArr as String[]
        },
        yAxis: {
            title: {
                text: 'Number of Cancellation'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Year 2020',
            data: [7, 6, 9, 14, 18, 21, 25, 26, 23, 18, 13, 9]
        }, {
            name: 'Year 2021',
            data: [3, 4, 5]
        }]
    });


        </script>
