@using HotelManagementSystem_Module1.Domain.Models
@using System.Collections
@{ ViewData["Title"] = "Promo Code";
                ViewBag.Title = "Promo Code";
                ArrayList mainList = ViewBag.mainList; }
<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a href="#promoCodeTable" class="nav-link" role="tab" data-toggle="tab">Promo Code Overview</a>
        </li>
        <li class="nav-item ">
            <a href="#generator" class="nav-link" role="tab" data-toggle="tab">Promo Code Generator</a>
        </li>
    </ul>

    @*<div class="container">
        <div class="tab-content">
            <ul class="nav nav-tabs" roles="tablist">
                <li role="presentation" class="active"><a href="#promoCodeTable" role="tab" data-toggle="tab">Promo Code Overview</a></li>
                <li role="presentation"><a href="#generator" role="tab" data-toggle="tab">Promo Code Generator</a></li>
            </ul>
        </div>*@

    <div class="tab-content">
        <!-- Start of Promo Code Table -->
        <div role="tabpanel" class="tab-pane fade in active" id="promoCodeTable">
            @{ 
                int count = 1;
                <table id="promocodetb" class="table table-bordered" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Promo Code</th>
                            <th>Discount Given (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (string[] promoCode in mainList)
                        {
                        <tr>
                            <td>@count</td>
                            <td>@promoCode[0]</td>
                            <td>@promoCode[1] %</td>
                        </tr>
                        count++;
                        }
                    </tbody>
                </table>
                }
            <!-- End of Promo Code Table -->

        </div>

        <div role="tabpanel" class="tab-pane fade" id="generator">
            <!-- Start of Generate Promo Code -->
            <form asp-controller="PromoCode" asp-action="CreatePromoCode" method="post" id="generatePromo" role="form">
                <div class="form-group">
                    <label for="discount">Discount (%)</label>
                    <input type="text" class="form-control" id="discount" aria-describedby="discountHint" name="discount" required>
                    <small id="discountHint" class="form-text text-muted">Please enter a range between 1-100.</small>
                </div>
                <button type="submit" class="btn btn-green btn-lg btn-block">Generate</button>
            </form>
            <!-- End of Generate Promo Code -->
        </div>

    </div>
</div>
@*</div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_DatatableScriptsPartial");
<script type="text/javascript">
    $(document).ready(function () {
        $('#promocodetb').DataTable({
            "scrollX": true,
            "scrollY": "70vh",
            "scrollCollapse": true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script> }
}
