@{
    ViewData["Title"] = "Reservation Management";

    Dictionary<string, object> resRecord = ViewBag.ResRecord;
    string guestName = ViewBag.GuestName;
    string guestEmail = ViewBag.GuestEmail;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>